@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Crimson Text", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}

h3.title {
  margin-bottom: 10px;
  color: darkcyan;
  text-align: center;
}

p,
label {
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.me img {
  width: 120px;
  margin-bottom: 5px;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 2px 2px 5px gray, -2px 2px 5px gray, -2px -2px 5px gray,
    2px -2px 5px gray;
}

a:hover {
  opacity: 0.5;
}

i {
  color: darkcyan;
  font-size: 24px;
}

section.me {
  text-align: center;
  position: relative;
}

section.me::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 25%;
  height: 3px;
  width: 50%;
  margin: 0 auto;
  background: lightgray;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

section.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.info-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-bottom: 5px;
}

.info-item:last-child {
  margin-bottom: 0;
}

section.bio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bio-text {
  text-align: center;
  /* font-size: 14px; */
  line-height: 20px;
  letter-spacing: 2px;
}

section.form {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background: #eee;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid darkcyan;
}

.btn {
  width: 100%;
  background-color: darkcyan;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Crimson Text", sans-serif;
  padding: 15px;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  section.me::after {
    display: none;
  }
  main::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 100px;
    width: 2px;
    height: 80%;
    background: lightgray;
    box-shadow: -1px 0 20px gray;
  }

  a {
    display: block;
    margin-top: 15px;
  }
}
